html, body{
    display: table;
}
html {
    display: table;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    scroll-snap-type: x mandatory;
}

@media (any-pointer: fine) {
    html {max-width: 450px;}
}

@media (any-pointer: coarse) {
    html {max-width: 100%;}
    button[id='email'] {display: none;}
    button[id='goback'] {display: none;}
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: table-cell;
    vertical-align: middle;
}
input {
    font-size: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 1%;
    padding-left: 2%;
    width: 87%;
}
select {
    font-size: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[id='h'] {width: 75%;}
input[id='w'] {width: 75%;}
input[id='sname'] {width: 87.6%;}

select[id='t'] {
    width:90%;
    margin-left: 2%;
    margin-top: 1%;
}  
select[id=wfit] {width:12%}
select[id=hfit] {width:12%}

textarea {
    font-size: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 1%;
    width: 88.5%;
}

.select::-ms-expand {display: none;} 


button {
    font-size: 28px;
    border: 3px solid;
    background: #fff;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 1%;
    width: 90%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
p {
    font-size: 20px;
    margin: 5px 10px;
    color: blue;
}
p[id='total'] {
    color: green; 
}

button[id='calc'] {border-color: blue; color: blue;}
button[id='calc']:hover {background-color: blue; color: white;}

button[id='clear'] {border-color: red;color: red;}
button[id='clear']:hover {background-color: red; color: white;}

button[id='goback'] {border-color: red;color: red;}
button[id='goback']:hover {background-color: red; color: white;}

button[id='rrpButton'] {border-color: purple; color: purple;}
button[id='rrpButton']:hover {background-color: purple; color: white;}

button[id='specialButton'] {border-color: gold;color: gold;}
button[id='specialButton']:hover {background-color: gold; color: white;}

button[id='email'] {border-color: lime; color: lime;}
button[id='email']:hover {background-color: lime; color: white;}

button[id='send'] {border-color: orange; color: orange;}
button[id='send']:hover {background-color: orange; color: white;}

button[id='rrpButton'] {
    width: 44%;
}
button[id='specialButton'] {
    width: 44%;
}

div[id='priceType'] {display: flex;}
div[id='widthselect'] {display: flex;}

section {
    width: 100%;
    height: 50%;

    padding-top: 1em;
    padding-bottom: 1em;

    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0 10px #000;
    
    display: flex;
    overflow: hidden;
    overflow-x: auto;


    scroll-behavior: smooth;
    scroll-snap-stop: normal;

    transition: all 0.125s ease;
    scroll-snap-type: x mandatory;
}

div {
    scroll-snap-align: start;
}

div[id="shutterContainer"]{
    width: 50%;
    flex: 1 0 100%;
    
}

div[id="emailContainer"] {width: 50%; 
    flex: 1 0 100%; 
}

::-webkit-scrollbar {display: none;}